<?xml version="1.0"?>
<configuration>
  <configSections>
    <section type="JDash.Configuration.DashboardSettingsSection,JDash" name="JDash"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <JDash defaultProvider="SQLDashboardProvider" authorizationEnabled="false" privilegedRoles="" knownRoleProvider="" roleProvider="">
    <providers>
      <clear/>
      <add applicationName="DashboardApp" connectionString="SqlConstr" name="SQLDashboardProvider" type="JDash.SqlProvider.Provider, JDash.SqlProvider"/>
    </providers>
  </JDash>
  <appSettings>
    <add key="homeDashboardId" value="473"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;url=~/tempImages/"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConstr" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=NLP_DB;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="POCEntities" connectionString="metadata=res://*/MyModel.csdl|res://*/MyModel.ssdl|res://*/MyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=POC;user id=sa;password=Deneme321.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>

    <sessionState timeout="60"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="jdash" namespace="JDash.WebForms" assembly="JDash.WebForms"/>
        <add tagPrefix="jdemo" namespace="JDash.WebForms.Demo.Controls.UI" assembly="JDash.WebForms.Demo"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="keqwc" assembly="Korzh.EasyQuery.WebControls.NET45" namespace="Korzh.EasyQuery.WebControls" />
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="JDashNlsHandler" />
      <add name="JDashNlsHandler" verb="GET" path="nls/*.js" type="JDash.WebForms.NlsHandler, JDash.WebForms, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b5fa106e3affb7e3" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>